[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
cryptography = "*"

[dev-packages]
black = {extras = ["d"], version = "*"}
flake8 = "*"
flake8-bugbear = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.10"
